<!-- title -->
<div class="container-fluid position-relative p-0">
  <app-title></app-title>

  <!-- Navbar Section -->
  <nav
    class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0"
    [class.sticky]="isSticky"
  >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="fa fa-bars bg-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav py-0 width-100">
        <!-- Home-start -->
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item nav-link active">Home</a>

        <!-- About Us Dropdown -->
        <div class="nav-item dropdown">
          <a href="#" routerLinkActive="active" class="nav-link" data-bs-toggle="dropdown">
            <span class="dropdown-toggle">About Us</span>
          </a>
          <div class="dropdown-menu m-0">
            <a routerLink="/temp/home/about-us" routerLinkActive="active" class="dropdown-item"
              >Overviews</a
            >
            <!-- <a routerLink="/temp/home/welcome-message" class="dropdown-item">Welcome message</a>
              <a routerLink="/temp/home/mission-vision" class="dropdown-item">Vission & Mission</a> -->
            <a
              routerLink="/temp/home/organization-structure" routerLinkActive="active"
              class="dropdown-item"
              >Organization structure</a
            >
          </div>
        </div>

        <!-- Department Dropdown -->
        <div class="nav-item dropdown">
          <a href="#" routerLinkActive="active" class="nav-link" data-bs-toggle="dropdown">
            <span class="dropdown-toggle">Department</span>
          </a>
          <div class="dropdown-menu m-0">
            <a routerLink="/temp/home/administrative-hr" routerLinkActive="active" class="dropdown-item"
              >Administration & HR</a
            >
            <a routerLink="/temp/home/altanativemedicine" routerLinkActive="active" class="dropdown-item"
              >Alternative Medicine</a
            >
            <a routerLink="/temp/home/medical-store" routerLinkActive="active" class="dropdown-item"
              >Medical Store</a
            >
            <a routerLink="/temp/home/cgcl" routerLinkActive="active" class="dropdown-item">CGCL</a>
            <a routerLink="/temp/home/chief-pharmacist" class="dropdown-item"
              >Chief Pharmacist</a
            >
            <a routerLink="/temp/home/nursing-midwifery" routerLinkActive="active" class="dropdown-item"
              >Nursing & Midwifery</a
            >
            <a routerLink="/temp/home/curretive" routerLinkActive="active" class="dropdown-item"
              >Curretive</a
            >
            <a routerLink="/temp/home/mhh" routerLinkActive="active" class="dropdown-item">MMH</a>
            <a routerLink="/temp/home/planning" routerLinkActive="active" class="dropdown-item"
              >Planning</a
            >
            <a
              routerLink="/temp/home/preventive-health-education" routerLinkActive="active"
              class="dropdown-item"
              >Preventive & Health Education</a
            >
            <a routerLink="/temp/home/zfda" routerLinkActive="active" class="dropdown-item">ZFDA</a>
          </div>
        </div>

        <!-- Programme Dropdown -->
        <div class="nav-item dropdown">
          <a href="#" routerLinkActive="active" class="nav-link" data-bs-toggle="dropdown">
            <span class="dropdown-toggle">Programme</span>
          </a>
          <div class="dropdown-menu m-0">
            <a routerLink="/temp/home/irch" routerLinkActive="active" class="dropdown-item">IRCH</a>
            <a routerLink="/temp/home/ncd" routerLinkActive="active" class="dropdown-item">NCD</a>
            <!-- <a routerLink="/temp/home/ntd" class="dropdown-item">NTD</a> -->
            <a routerLink="/temp/home/zamep" routerLinkActive="active" class="dropdown-item">ZAMEP</a>
            <a routerLink="/temp/home/zihtlp" routerLinkActive="active" class="dropdown-item">ZIHTLP</a>
          </div>
        </div>

        <!-- Other Links -->
        <a routerLink="/temp/home/tender" routerLinkActive="active" class="nav-item nav-link">Tenders</a>
        <a routerLink="/temp/home/project" routerLinkActive="active" class="nav-item nav-link"
          >Projects</a
        >
        <a routerLink="/temp/home/publications" routerLinkActive="active" class="nav-item nav-link">Publications</a>
         <!-- <a routerLink="/temp/home/blog" class="nav-item nav-link">News & Alert</a> -->
        <!-- <a routerLink="/temp/home/publications" class="nav-item nav-link"
          >Resource Library</a
        > -->
         <!-- Programme Dropdown -->
        <div class="nav-item dropdown">
          <a href="#" class="nav-link" routerLinkActive="active" data-bs-toggle="dropdown">
            <span class="dropdown-toggle">Media Center</span>
          </a>

          <div class="dropdown-menu m-0">
            <a routerLink="/temp/home/photo-gallery"  class="dropdown-item">Photo Gallery</a>
            <a routerLink="/temp/home/photo-gallery"  class="dropdown-item">Confrence Release</a>
      
          </div>
        </div>
        <a routerLink="/temp/home/contact-us" routerLinkActive="active" class="nav-item nav-link"
          >Contact Us</a
        >

        <a
          href="https://mail.mohz.go.tz/" routerLinkActive="active"
          target="_blank"
          class="nav-item nav-link"
          >Staff Mail</a
        >
        <a
          href="https://eoffice.goz.go.tz/" routerLinkActive="active" 
          target="_blank"
          class="nav-item nav-link"
          >E-Office</a
        >

        <a routerLink="" target="_blank"  ></a>
      </div>
    </div>
  </nav>
</div>
<!-- Navbar & Hero End -->
