<div class="container-fluid">
  <h5 class="fw-bold mt-4" *ngIf="dialogData.action === 'CREATE NEW'">
    Create Publication
  </h5>
  <h5 class="fw-bold mt-4" *ngIf="dialogData.action === 'EDIT'">
    Update Publication
  </h5>
  <form [formGroup]="publicationForm">
    <div class="row">
      <!-- Title -->
      <mat-form-field appearance="outline" class="col-md-12 mt-3">
        <mat-label>Title</mat-label>
        <input
          type="text"
          formControlName="title"
          matInput
          class="text-black"
        />
        <mat-error
          *ngIf="
            publicationForm.controls.title.touched &&
            publicationForm.controls.title.invalid
          "
        >
          <span *ngIf="publicationForm.controls.title.errors.required"
            >This field is mandatory</span
          >
        </mat-error>
      </mat-form-field>

      <!-- Desc -->
      <mat-form-field appearance="outline" class="col-md-12 mt-4">
        <mat-label>Description</mat-label>
        <textarea
          formControlName="description"
          matInput
          rows="8"
          class="text-black"
        ></textarea>
        <mat-error
          *ngIf="
            publicationForm.controls.description.touched &&
            publicationForm.controls.description.invalid
          "
        >
          <span *ngIf="publicationForm.controls.description.errors?.required"
            >This field is mandatory</span
          >
        </mat-error>
      </mat-form-field>

      <!-- apk_link -->
      <mat-form-field appearance="outline" class="col-md-12 mt-4">
        <mat-label>Apk Link</mat-label>
        <input
          formControlName="apk_link"
          matInput
          rows="11"
          class="text-black"
        />
        <mat-error
          *ngIf="
            publicationForm.controls.apk_link.touched &&
            publicationForm.controls.apk_link.invalid
          "
        >
          <span *ngIf="publicationForm.controls.apk_link.errors?.required"
            >This field is mandatory</span
          >
        </mat-error>
      </mat-form-field>

      <!-- typeId -->
      <mat-form-field appearance="outline" class="col-md-12 mt-4">
        <mat-label>Select Gallery Type</mat-label>
        <mat-select formControlName="type_id">
          <mat-option *ngFor="let type of publicationTypes" [value]="type.id">
            {{ type.publication_type_name }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            publicationForm.controls.type_id.touched &&
            publicationForm.controls.type_id.invalid
          "
        >
          <span *ngIf="publicationForm.controls.type_id.errors?.required"
            >This field is mandatory</span
          >
        </mat-error>
      </mat-form-field>

      <!-- P Document -->
      <div class="col-md-12 mt-2 mb-3">
        <div class="mb-2">
          <mat-label>Upload Document</mat-label>
        </div>
        <input
          type="file"
          (change)="onFileSelected($event)"
          class="form-control"
        />
        <mat-error *ngIf="fileError">
          {{ fileError }}
        </mat-error>
      </div>
    </div>
  </form>

  <mat-dialog-actions align="end">
    <button mat-flat-button color="accent" mat-dialog-close>Cancel</button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!(publicationForm.valid && publicationForm.dirty)"
      (click)="handlePartnerSubmit()"
    >
      {{ action }} Data
    </button>
  </mat-dialog-actions>
</div>
