.container-fluid {
  background-color: #f8f9fa;
}

.card {
  border-radius: 12px;
}

.card-body {
  padding: 2rem;
}

h2, h4 {
  font-weight: 600;
}

ul li {
  margin-bottom: 10px;
  font-size: 1rem;
}

ul li strong {
  color: #007bff;
}

.lead {
  font-size: 1.1rem;
  color: #555;
}

.text-secondary {
  color: #343a40;
}
