<table mat-table [dataSource]="postData" class="mat-elevation-z8 w-100">
  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef class="fw-bold">Title</th>
    <td mat-cell *matCellDef="let element">
      <i class="fa-sharp fa-solid fa-star-of-life me-2 fa-sm"></i>
      {{ element.title }}
    </td>
  </ng-container>

  <!-- Value Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef class="fw-bold">Value</th>

    <td mat-cell *matCellDef="let element">
      <!-- If image -->
      <ng-container *ngIf="element.isImage">
        <img
          [src]="'http://localhost:8000/uploads/posts/images/' + element.value"
          class="img-thumbnail w-50 my-2"
          alt="Post Image"
        />
      </ng-container>

      <!-- If PDF -->
      <ng-container *ngIf="element.isPdf">
        <a
          [href]="
            'http://localhost:8000/uploads/posts/documents/' + element.value
          "
          target="_blank"
          rel="noopener"
        >
          View PDF
        </a>
      </ng-container>

      <!-- Other files -->
      <ng-container *ngIf="!element.isImage && !element.isPdf">
        <a
          [href]="
            'http://localhost:8000/uploads/posts/documents/' + element.value
          "
          target="_blank"
          rel="noopener"
        >
          Download {{ element.value }}
        </a>
      </ng-container>
    </td>
  </ng-container>

  <!-- Table Headers & Rows -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
