<div class="container-fluid">
  <div class="card p-3">
    <div class="mb-4">
      <h5 class="fw-bold">
        <i class="fa-sharp fa-solid fa-star-of-life me-2"></i> Announcement
        Title
      </h5>
      <p class="ps-5 pe-3">
        {{ announcement?.announcement_title }}
      </p>
    </div>

    <div class="mb-4">
      <h5 class="fw-bold">
        <i class="fa-sharp fa-solid fa-star-of-life me-2"></i> Announcement
        Content
      </h5>
      <p class="ps-5 pe-3">
        {{ announcement?.announcement_content }}
      </p>
    </div>

    <div class="mb-4">
      <h5 class="fw-bold">
        <i class="fa-sharp fa-solid fa-star-of-life me-2"></i> Announcement
        Files
      </h5>
      <ul *ngIf="announcement?.document_names?.length > 0; else noFiles">
        <li
          *ngFor="let fileName of announcement?.document_names; let i = index"
        >
          <a
            [href]="
              'http://localhost:8000/uploads/announcementDocs/' + fileName
            "
            target="_blank"
          >
            File {{ i + 1 }}
          </a>
        </li>
      </ul>

      <ng-template #noFiles>
        <p class="ps-5 pe-3">No files uploaded for this announcement.</p>
      </ng-template>
    </div>

    <div>
      <button
        routerLink="../../announcement-list"
        mat-flat-button
        color="warn"
        class="float-end"
      >
        <mat-icon>arrow_back_ios</mat-icon> Back
      </button>
    </div>
  </div>
</div>
