<div class="container mt-4 d-flex justify-content-center">
  <div class="card shadow-lg p-5 w-100" style="max-width: 1000px; border-radius: 15px;">
    <div class="card-body text-center">
      <h1 class="fw-bold text-uppercase" style="color: #14497d;">
        {{ ourServices.service_title }}
      </h1>
      <hr class="my-3">
      <div class="fs-5 text-secondary text-start" style="line-height: 1.8;">
        <p *ngFor="let para of ourServices?.service_description?.split('\n')">
          {{ para }}
        </p>
      </div>
    </div>
  </div>
</div>
