<div class="announcent container">
    <div class="card card-body class p-4">
        <div class="row">
            <div class="col-12">
              <!-- Announcements Heading with Sitari -->
              <h1 class="text-center text-primary mb-4">
                Latest Announcements
              </h1>
            </div>
            <!-- Single Announcement Card -->
            <div class="col-md-4 mt-4" *ngFor="let announcement of announcements">
              <div class="card mb-4 h-100" >
                <div class="card-body">
                  <h5 class="card-title">
                    📣 {{announcement?.announcement_title}}
                  </h5>
                  <p class="card-text">
                  {{announcement?.announcement_content}}
                  </p>
                  
                    <ul *ngIf="announcement?.document_urls?.length > 0; else noFiles" class="list-unstyled">
                      <li *ngFor="let file of announcement?.document_urls">
                        <a [href]="file.url" target="_blank">
                          <i class="fa-solid fa-file-pdf fa-lg text-danger me-2"></i> <span class="fw-bold">Download File</span>
                        </a>
                      </li>
                    </ul>

                    <ng-template #noFiles>
                      <p class="text-center">No files available</p>
                    </ng-template>
                </div>
              </div>
            </div>
          </div>
    </div>

    <button mat-raised-button color="accent" 
       class="mx-4 mb-2" routerLink="/temp/main">
      <mat-icon >arrow_back</mat-icon> 
      back</button>
  </div>

