<div class="container mt-5">
    <p class="fw-bold text-center h1" style="color:  #14497d;">
        ___ Ministry's System ___
    </p>
    <div class="text-center">
    <div class="row justify-content-center gx-3"> 
  <div class="col-auto" *ngFor="let ministrySystem of ministrySystems">
    <img [src]="imageBaseUrl + 'systemLogo/' + ministrySystem.system_logo"
         alt="System Logo"
         class="rounded-circle"
         style="width: 100px; height: 100px; border: 3px solid rgb(255, 255, 255); 
                object-fit: contain; background-color: white; padding: 10px;">
   <p class="h6" style="color: #14497d;">
  {{ ministrySystem.system_title }} - 
  <a [href]="ministrySystem.system_link" target="_blank">{{ ministrySystem.system_link }}</a>
</p>
  </div>
</div>

    </div>
</div>
