<div
  *ngIf="
    permission.parmissionMatched([
      'Create Ministry System',
      'Update Ministry System'
    ])
  "
  class="container-fluid"
>
  <h5 class="fw-bold mt-4" *ngIf="dialogData.action === 'CREATE NEW'">
    Create New Ministry System
  </h5>
  <h5 class="fw-bold mt-4" *ngIf="dialogData.action === 'EDIT'">
    Update Ministry System
  </h5>
  <form [formGroup]="ministryForm">
    <div class="row">
      <!-- Tile -->
      <mat-form-field appearance="outline" class="col-md-12 mt-3">
        <mat-label>Title</mat-label>
        <input
          type="text"
          formControlName="title"
          matInput
          class="text-black"
        />
        <mat-error
          *ngIf="
            ministryForm.controls.title.touched &&
            ministryForm.controls.title.invalid
          "
        >
          <span *ngIf="ministryForm.controls.title.errors.required"
            >This field is mandatory</span
          >
        </mat-error>
      </mat-form-field>

      <!-- Link -->
      <mat-form-field appearance="outline" class="col-md-12 mt-3">
        <mat-label>Link</mat-label>
        <input type="text" formControlName="link" matInput class="text-black" />
        <mat-error
          *ngIf="
            ministryForm.controls.link.touched &&
            ministryForm.controls.link.invalid
          "
        >
          <span *ngIf="ministryForm.controls.link.errors.required"
            >This field is mandatory</span
          >
        </mat-error>
      </mat-form-field>

      <!-- Image -->
      <div class="col-md-12 mt-2 mb-3">
        <div class="mb-2">
          <mat-label>Logo</mat-label>
        </div>
        <input
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*"
          class="form-control"
        />
        <mat-error *ngIf="fileError">
          {{ fileError }}
        </mat-error>
      </div>
      <div *ngIf="previewImage" class="mt-3">
        <img
          [src]="previewImage"
          alt="Preview"
          class="img-fluid"
          style="max-height: 200px"
        />
      </div>
    </div>
  </form>

  <mat-dialog-actions align="end">
    <button mat-flat-button color="accent" mat-dialog-close>Cancel</button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!(ministryForm.valid && ministryForm.dirty)"
      (click)="handleMinistrySystemSubmit()"
    >
      {{ action }} Data
    </button>
  </mat-dialog-actions>
</div>
