.curative-container {
  max-width: 1000px;
  margin: auto;
}

.header-banner {
  background: linear-gradient(to right, #0d47a1, #1976d2);
}

.info-card ul {
  list-style: none;
  padding-left: 0;
}

.info-card ul li {
  font-size: 1rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.info-card p {
  font-size: 1.05rem;
}

h2, h4 {
  font-weight: 600;
}

.lead {
  font-size: 1.2rem;
  color: #444;
}
